.banner {
  /* background: rgb(220, 250, 190); */
  background-color: rgb(116, 219, 250);
  height: 130px;
  /* margin: 0 !important;
  padding: 0 !important; */
  padding-top: 6%;
  color: #030142;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

@media (min-width: 576px) {
  .banner {
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    font-size: calc(10px + 14 * (100vw - 320px) / 800);
  }

  .banner div {
    text-align: center;
    width: 33.333%;
  }
}
